
<div class="mb-4">
  <div class="container-fluid fullPageCarousel">
    <ngb-carousel>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            class="d-block w-100 carouselHeight"
            src="../../assets/imgs/school_img1.png"
          />
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          <div>
            <button href="#" class="btn btn-get-started">Book Now</button>
          </div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            class="d-block w-100 carouselHeight"
            src="../../assets/imgs/school_img2.jpg"
          />
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div>
            <button href="#" class="btn btn-get-started">Book Now</button>
          </div>
        </div>
      </ng-template>
      
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            class="d-block w-100 carouselHeight"
            src="../../assets/imgs/taxi3.jpg"
          />
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur.
          </p>
          <div>
            <button href="#" class="btn btn-get-started">Book Now</button>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="container-fluid py-3 missionWrapper">
  <p class="SmsMission my-4">Our mission</p>
  <p>
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
    richardson ad squid. 3 wolf moon officia <br />

    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
    laborum eiusmod. Brunch 3 wolf moon tempor, <br />

    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
    shoreditch et. Nihil anim keffiyeh helvetica, <br />

    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
    excepteur butcher vice lomo. Leggings <br />

    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
    probably haven't heard of them accusamus <br />

    labore sustainable VHS.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1 class="student-registration">New Student Registration</h1>

      <p class="test">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica
      </p>

      <div>
        <button href="#" class="btn btn-color">Read More</button>
      </div>
    </div>

    <div class="col-md-6">
      <img src="../../assets/imgs/taxi3.jpg" width="744px" />
    </div>
  </div>
</div>
