<div class="container my-4">
    <h1 class="page-title">Student</h1>
    <hr>
    <button mat-raised-button [routerLink]="['/students']">Back to list</button>
    <hr>

    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Name</div>
        <div class="col-md-10">{{studentDetails?.name}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">GPA</div>
        <div class="col-md-10">{{studentDetails?.gpa}}</div>
    </div>

    <h3 class="mt-4 mb-0">Student Classes</h3>
    <div class="row mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let class of studentDetails?.classes">
                    <td>
                        {{class.roomName}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
