<div class="container my-4">
    <h1 class="page-title">Teachers</h1>
    <hr>

    <button mat-raised-button color="primary" class="mb-3" [routerLink]="['/teachers/add']">Add a new class</button>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>School Degree</th>
                <th>AlamaMater</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers">
                <td>{{teacher.name}}</td>
                <td>{{teacher.dateOfBirth}}</td>
                <td>{{teacher.schoolDegree}}</td>
                <td>{{teacher.almaMater}}</td>
                <td>
                    <a class="mr-2 text-info" [routerLink]="['/teachers', teacher.id]">
                        <mat-icon>info</mat-icon>
                    </a>
                    <a class="mr-2" [routerLink]="['/teachers/edit', teacher.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer text-danger" (click)="deleteTeacher(teacher.id)">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-spinner class="mx-auto mt-5" *ngIf="showSpinner"></mat-spinner>

</div>