<div class="container my-4">
    <h1 class="page-title">Class</h1>
    <hr>
    <button mat-raised-button [routerLink]="['/classes']">Back to list</button>
    <hr>

    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Room Name</div>
        <div class="col-md-10">{{classDetails?.roomName}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Semester</div>
        <div class="col-md-10">{{classDetails?.semester}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Time</div>
        <div class="col-md-10">{{classDetails?.time}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Course</div>
        <div class="col-md-10">{{ classDetails?.course?.name }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Teacher</div>
        <div class="col-md-10">{{ classDetails?.teacher?.name }}</div>
    </div>
    <h3 class="mt-4 mb-0">Classes Students</h3>
    <div class="row mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of classDetails?.students">
                    <td>
                        {{student.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
