<div class="container my-4">
    <h1 class="page-title">Teacher</h1>
    <hr>
    <button mat-raised-button [routerLink]="['/teachers']">Back to list</button>
    <hr>

    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Name</div>
        <div class="col-md-10">{{teacherDetails?.name}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Date Of Birth</div>
        <div class="col-md-10">{{teacherDetails?.dateOfBirth}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">School Degree</div>
        <div class="col-md-10">{{teacherDetails?.schoolDegree}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">AlamaMater</div>
        <div class="col-md-10">{{ teacherDetails?.almaMater}}
        </div>
    </div>

    <h3 class="mt-4 mb-0">Teacher Classes</h3>
    <div class="row mb-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let class of teacherDetails?.classes">
                    <td>
                        {{class.roomName}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
