<div class="container my-4">
    <h1 *ngIf="pageMode == pageModeEnum.Add">Add a new class</h1>
    <h1 *ngIf="pageMode == pageModeEnum.Edit">Edit class</h1>
    <hr>

    <form (ngSubmit)="addEditClass()" [formGroup]="classForm">

        <div>
            <button class="mr-2" type="submit" mat-raised-button color="primary">
                <span *ngIf="pageMode == pageModeEnum.Add">Add</span>
                <span *ngIf="pageMode == pageModeEnum.Edit">Save</span>
            </button>
            <button style="margin: 6px;" mat-raised-button [routerLink]="['/classes']">Back to list</button>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Room Name</mat-label>
                        <input matInput placeholder="Room Name" formControlName="roomName" required>
                        <mat-error>Room Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Semester</mat-label>
                        <input matInput placeholder="Semester" formControlName="semester" required>
                        <mat-error>Semester is required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Time</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="time" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>Time is required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Course</mat-label>
                        <mat-select formControlName="courseId">
                            <mat-option *ngFor="let course of courses" [value]="course.id">
                                {{ course.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Teacher</mat-label>
                        <mat-select formControlName="teacherId">
                            <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
                                {{ teacher.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill"  class="w-100">
                        <mat-label>Students</mat-label>
                        <mat-select formControlName="students" multiple [compareWith]="comparePassengersFn">
                            <mat-option *ngFor="let student of students" [value]="student">
                                {{student.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
              
            </div>
        </div>

    </form>
</div>