/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.brand-name {
    display: inline-block;
    margin: 8px 10px 0;
}

.nav-item{
    font-size: 16px;
    font-weight: 500;
}

.fullPageCarousel{
    padding-left:0px;
    padding-right:0px;
    margin-top:-1px;
}

.carouselHeight{
    height:600px;
}

.carousel-caption {
    position: absolute;
    right: 56%;
    bottom: 155px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption h3{
    font-size: 55px;
    font-weight: 800;
}

.carousel-caption p{
    color: #fff;
    margin-top:25px;
    padding-left:5px;
    font-size: 16pt;
    line-height: normal;
    text-shadow: 1px 1px 13px rgb(0 0 0 / 75%);
    font-weight: 900;
    margin-left: 10%;
}

.btn-get-started{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    margin-top: 30px;
    color: #fff;
    background: #f9b900;
}

.SmsMission{
    font-size: 35px;
    color: darkblue !important;
    font-weight: bold;
}

.missionWrapper{
    text-align: center;
    background-color: gainsboro;
    margin-top: -24px;
    color: gray;
}

.student-registration-wrap{
    width: 100%;
    height: 500px;
    background: #fef8f5;
}

.btn-color{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    margin-top: 30px;
    color: #fff;
    background: #F29433;
}

.student-registration{
    color: #1C3452;
    text-align: center;
}

.test{
    margin-top: -24px;
    color: gray;
}

.fa-twitter{
    font-size: 20px;
    color: white;
    background: orange;
    padding: 5px;
    border-radius: 15px;
}

.fa-facebook{
    font-size: 20px;
    color: white;
    background: orange;
    padding: 5px;
    border-radius: 15px;
}

.fa-instagram{
    font-size: 20px;
    color: white;
    background: orange;
    padding: 5px;
    border-radius: 15px;
}


main{
    min-height: 57vh;
}
footer{ 
    position: absolute !important;
    bottom: -1 !important;
    width: 100%;
}
