<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">

            <a class="navbar-brand" href="/">
                <img src="" height="35" class="d-inline-block align-top" alt="Wasy" />
                <span class="brand-name">School Management System</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/students']">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/teachers']">Teachers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/courses']">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/classes']">Classes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="pb-3">

    <router-outlet></router-outlet>

</main>